<mat-toolbar>Terrasoft Test Case</mat-toolbar>
<div class="main-card">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Анализ текста</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="card-content">
        <mat-form-field>
          <mat-label>Отображать:</mat-label>
          <input matInput type="number" [(ngModel)]="textAreaNumberOfRows">
        </mat-form-field>
        <mat-form-field class="form-field">
          <mat-label>Введите текст:</mat-label>
          <textarea matInput [rows]="textAreaNumberOfRows" [(ngModel)]="Text" (input)="onInput($event)" placeholder="Произвольный текст..."></textarea>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <div class="table-content">
        <table mat-table [dataSource]="results" style="width: 100%" class="mat-elevation-z8">
          <ng-container matColumnDef="metricsName">
            <th mat-header-cell *matHeaderCellDef>Метрика</th>
            <td mat-cell *matCellDef="let element">{{element.metricName}}</td>
          </ng-container>
          <ng-container matColumnDef="metricsResult">
            <th mat-header-cell *matHeaderCellDef>Значение</th>
            <td mat-cell *matCellDef="let element">{{element.metricResult}}</td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
